# Eclipse workspace (never commit)
.metadata/

# Java / Spring Boot
target/
*.log

# IDE files
.classpath
.project
.settings/

# OS files
Thumbs.db
.DS_Store

~$*

# Visual Studio
.vs/
**/.vs/
*.suo

# .NET build
bin/
obj/

# Node/React
node_modules/
dist/
.env
